<!--
<div class="AccountDeletion" style="width: 430px; height: 932px; position: relative; background: linear-gradient(180deg, #E1EEC3 0%, #F05053 100%)">
-->

  {% block content %}
  <form method="post" style="text-align:center">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <div class="WeReSadToSeeYouGo" style="left: 17px; top: 103px; position: absolute; text-align: center; color: #0B0505; font-size: 40px; font-family: Poppins; font-weight: 700; word-wrap: break-word">We’re sad to see you go</div>
    <div class="PleaseEnterYourEmailAddressAndHitDeleteAccountToDeleteYourAccount" style="width: 335px; height: 90px; left: 48px; top: 226px; position: absolute; text-align: center"><span style="color: #0E0606; font-size: 20px; font-family: Poppins; font-weight: 400; word-wrap: break-word">Please enter your email address and hit </span><span style="color: #0E0606; font-size: 20px; font-family: Poppins; font-weight: 400; text-decoration: underline; word-wrap: break-word">delete account</span><span style="color: #0E0606; font-size: 20px; font-family: Poppins; font-weight: 400; word-wrap: break-word"> to delete your account.</span></div>
    
    <div class="EnterEmailAddress" style="left: 29px; top: 370px; position: absolute; text-align: center; color: black; font-size: 20px; font-family: Poppins; font-weight: 400; word-wrap: break-word">Enter email address</div>
    <input class="EnterEmailAddressInput" name="enteremailaddressinput" id="enteremailaddressinput" style="width: 373px; height: 56px; left: 29px; top: 400px; position: absolute; background: #FAEBEB; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 10px; border: 1px black solid">
    
    <!--
    <div class="DeleteAccount" style="left: 138px; top: 532px; position: absolute; text-align: center; color: black; font-size: 20px; font-family: Poppins; font-weight: 400; word-wrap: break-word">Delete Account</div>
    -->
    <input class="DeleteAccountButton" type="submit" value="Delete Account" style="width: 373px; height: 56px; left: 29px; top: 519px; position: absolute; background: #F49F9F; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 10px; border: 1px black solid; text-align: center; color: black; font-size: 20px; font-family: Poppins; font-weight: 400; word-wrap: break-word">

    <!--{#
    <button onclick="location.href = '{{ url_for('home.accountsettings') }}';">
    #}-->
      <!--
      <div class="BackToSafety" style="left: 149px; top: 610px; position: absolute; text-align: center; color: white; font-size: 18px; font-family: Poppins; font-weight: 600; word-wrap: break-word">Back to Safety</div>
      -->
      <a href="{{ url_for('home.accountsettings') }}"><input class="BackToSafetyButton" type="button" value="Back to Safety" style="width: 204px; height: 37px; left: 113px; top: 605px; position: absolute; background: linear-gradient(180deg, #39EE81 0%, #5EB75D 100%); box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 20px; border: 1px #111111 solid; text-align: center; color: white; font-size: 18px; font-family: Poppins; font-weight: 600; word-wrap: break-word"></a>
    <!--
    </button>
    -->
  </form>
  {% endblock %}

  <!--
</div>
-->