<!DOCTYPE html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
    <!--
    {#
    {% if not g.spashVisited %}
        <meta http-equiv="refresh" content="0"; url="{{ url_for('splash.splash') }}" />
        {% set g.spashVisited = True %}
    {% else %}
        {% if g.user %}
            <h1>Flaskr</h1>
            <u1>
                <li><span>{{ g.user['username'] }}</span>
                <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
            </u1>
        {% endif %}
    {% endif %}
    #}
    -->
    
    <h1>Flaskr</h1>
    <u1>
        {% if g.user %}
            <li><span>{{ g.user['username'] }}</span>
            <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
        {% else %}
            <li><a href="{{ url_for('auth.register') }}">Register</a>
            <li><a href="{{ url_for('auth.login') }}">Log In</a>
        {% endif %}
    </u1>
    

</nav>
<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
</section>

<!--
    {#
    g is automatically avaiable in templates. Based on if g.user is set (from load_looged_in_user),
    either the username and a log out are displayed, or links to register and log in are displayed.
    url_for() is also automatically avaiable, and is used to generate URLs to views instead of
    writing them out manually.
    #}
-->
<!--
    {#
    After the page title, and before the content, the template loops over each message returned by
    get_flashed_messages(). You used flash() in the views to show error messages, and this is the
    code that will display them.
    #}
-->
<!--
    {#
    There are three blocks defined here that will be overridden in the other templates.
    1. {% block title %} will change the title displayed in the browser's tab and window title.
    2. {% block header %} is similar to title, but will change the title displayed on the page.
    3. {% block content %} is where the content of each page goes, such as the login form or a blog post.
    #}
-->