
<!--
<div class="HomePage" style="width: 430px; height: 932px; position: relative; background: linear-gradient(180deg, #E1EEC3 0%, #F05053 100%)">
-->
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
  {% block content %}
  <form method="post" style="text-align:center">
    <div class="Home_Page_Top_Bar" style="width: 387px; height: 72px; left: 12px; top: 31px; position: absolute; background: rgba(61.54, 53.59, 53.59, 0.12); box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 20px"></div>
    <img class="Home_Page_Top_Bar_Icon" style="width: 83px; height: 83px; left: 342px; top: 25px; position: absolute; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)" src="/static/Account_Icon.png" alt="/static/331x316.png" />
      
    <a href="{{ url_for('home.accountsettings') }}">
    <!--
    {#
    <button onclick="location.href = '{{ url_for('home.accountsettings') }}';">
    #}
    -->
      <div class="Account_Settings_Navigation_Button" style="width: 373px; height: 56px; left: 29px; top: 183px; position: absolute; background: #F49F9F; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 10px; border: 1px black solid"></div>
      <div class="Frame1" style="height: 56px; padding: 10px; left: 120px; top: 183px; position: absolute; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
        <div class="Frame2" style="justify-content: center; align-items: center; gap: 10px; display: flex">
          <div class="Account_Settings_Text" style="text-align: center; color: black; font-size: 20px; font-family: Poppins; font-weight: 400; word-wrap: break-word">Account Settings</div>
        </div>
      </div>
    <!--
    </button>
    -->
    </a>

    <a href="{{ url_for('home.accountsettings') }}">
    <!--
    {#
    <button onclick="location.href = '{{ url_for('blog.postpage') }}';">
    #}
    -->

      <div class="ASL_Video_Page_Navigation_Button" style="width: 373px; height: 56px; left: 29px; top: 251px; position: absolute; background: #F49F9F; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 10px; border: 1px black solid"></div>
      <div class="Frame2" style="padding: 10px; left: 129px; top: 254px; position: absolute; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
        <div class="Frame2" style="justify-content: center; align-items: center; gap: 10px; display: flex">
          <div class="ASL_Video_Page_Text" style="text-align: center; color: black; font-size: 20px; font-family: Poppins; font-weight: 400; word-wrap: break-word">ASL Video Page</div>
        </div>
      </div>

    <!--
    </button>
    -->
    </a>

    <a href="{{ url_for('blog.postpage') }}">
    <!--
    {#
    <button onclick="location.href = '{{ url_for('blog.postpage') }}';">
    #}
    -->
      <div class="Blog_Page_Navigation_Button" style="width: 373px; height: 56px; left: 29px; top: 319px; position: absolute; background: #F49F9F; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 10px; border: 1px black solid"></div>
      <div class="Frame4" style="padding: 10px; left: 155px; top: 322px; position: absolute; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
        <div class="Frame2" style="justify-content: center; align-items: center; gap: 10px; display: flex">
          <div class="Blog_Page_Text" style="text-align: center; color: black; font-size: 20px; font-family: Poppins; font-weight: 400; word-wrap: break-word">Blog Page</div>
        </div>
      </div>
    <!--
    </button>
    -->
    </a>
      
    <a href="{{ url_for('auth.logout') }}">
    <!--
    {#
    <button onclick="location.href = '{{ url_for('auth.logout') }}';">
    #}
    -->
      <div class="Log_Out_Button" style="width: 373px; height: 56px; left: 29px; top: 387px; position: absolute; background: #F49F9F; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 10px; border: 1px black solid"></div>
      <div class="Frame3" style="padding: 10px; left: 167px; top: 390px; position: absolute; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
        <div class="Frame2" style="justify-content: center; align-items: center; gap: 10px; display: flex">
          <div class="Log_Out_Text" style="text-align: center; color: black; font-size: 20px; font-family: Poppins; font-weight: 400; word-wrap: break-word">Log Out</div>
        </div>
      </div>
    <!--
    </button>
    -->
    </a>
  </form>
  {% endblock %}
<!--
</div>
-->