{% extends "base.html" %}
{% block content %}
<h1>Live ASL Translation</h1>

<!-- This is the ASL Translation Output -->
<div id="arrayOutput"></div>
<!-- This is the user's webcam stream-->
<div id="container">
      <video autoplay playsinline id="videoElement"></video>
      <!-- This is the canvas which is used to transport the image data we copied from the video frame to the Backend -->
      <!-- We only want it to store the data and not show up on the page, so we set the display to none-->
      <canvas id="canvas" width="400" height="300" style="display:none;"></canvas>
</div>

<!-- This allows us to utilize the socketio library functions in our javascript scripts-->
<!-- Additionally, this is used to contact the Python Backend using functions like .emit and .on-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.4/socket.io.js"></script>
<!-- This is the Javascript script that will be ran to get video input/output -->
<script src="{{ url_for('static', filename='webCamAccess.js') }}"></script>

{% endblock %}